@import "./typography.scss";
@import "./theme.scss";

body {
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;

    @include body;

    .content {
        display: flex;
        background-color: var(--secondary-color);
        flex-grow: 1;
    }
    &__name {
      @include header;
    }

    &__details {
        @include sub-header;
    }
}